/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROMAN -- PLEASE TYPE YOUR CSS HERE */
/*
body {
	background-color: #F4F8F9;
}
*/
.left_part { /* левая сторона */
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 210px;
/*	height: 1024px; */
	background-color: #362f50;
}

.treangl { /* треугольник */
	display: block;
	padding-top: 27px;
	padding-left: 54px;
	width: 45px;
	height: 49px;
	float: left; /* долго искал */
	margin: 0px;

}
h1 { /* надпись RGDB */
	position: absolute;
	display: block;
	height: 22px;
	width: 47px;
	opacity: 0.85;
	color: #FFFFFF;
	font-family: Industry;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 22px;
	padding-left: 108px;
	margin-top: 40px; 


}
.line_one { /* Верхняя линяя, не выставлена высота расплдлжения */
	display: block;
	position: absolute;
	width: 210px;
	top: 98px;
	border: 1px solid #FFFFFF;	
	opacity: 0.1;
}


.joystick {  /* джойстик */
	background-image: url(Aplication/settings.png);
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	background-size: 75px 75px;
	width: 75px;
	height: 75px;
	top: 120px;
	left: 20px;
}
.consoles {
	background-image: url(../images/settings.png);
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	background-size: 75px 75px;
	width: 75px;
	height: 75px;
	top: 120px;
	left: 124px;
}
.forums {
	background-image: url(../images/settings.png);
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	background-size: 75px 75px;
	width: 75px;
	height: 75px;
	top: 235px;
	left: 20px;
}

.people {
	background-image: url(../images/settings.png);
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	background-size: 75px 75px;
	width: 75px;
	height: 75px;
	top: 235px;
	left: 124px;
}

.news {
	background-image: url(Aplication/settings.png);
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	background-size: 75px 75px;
	width: 75px;
	height: 75px;
	top: 340px;
	left: 20px;
}
.market {
	background-image: url(Aplication/settings.png);
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	background-size: 75px 75px;
	width: 75px;
	height: 75px;
	top: 340px;
	left: 124px;
}

/*---------------------------
How to make that the bottom part 
did not lean on the top at decrease 
in the size of a window of the browser?
------------------------------*/

.faise_foto { /* фотография */
	position: absolute;
	background-image: url(Aplication/faise_foto.png);
	background-repeat: no-repeat;
	bottom: 130px;
	border-radius: 20px; 
	left: 66px;
	width: 80px;
	height: 80px;
	background-size: 80px 80px;
}
.mail {
	background-image: url(Aplication/dashboard_icon.png);
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	width: 26px;
	height: 18px;
	bottom: 94px;
	left: 69px;
	background-size: 26px 18px;
}
.shape {
	background-image: url(Aplication/dashboard_icon.png);
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	width: 26px;
	height: 22px;
	bottom: 94px;
	right: 69px;
	background-size: 26px 22px;
}

.line_two {
	display: block;
	position: absolute;
	width: 210px;
	bottom: 66.8px;
	border: 1px solid #FFFFFF;	
	opacity: 0.1;
}

.question {
	background-image: url(Aplication/Hue.png);
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	bottom: 20px;
	left: 93px;
}

/*------
number of received letters in roundels
-
количество поступивших писем в круглешках
-------*/

.right_part {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 210px;
	background: linear-gradient(136.91deg, #F8F9FD 0%, #F8F9FD 100%);
}
.communication {
	background-image: url(Aplication/dashboard_icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: greenyellow;
	position: absolute;
	display: block;
	width: 60px;
	height: 65px;
	top: 0px;
	right: 20px;
	background-size: 22px 22px;
}

.search {
	background-image: url(Aplication/dashboard_icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: yellowgreen;
	position: absolute;
	display: block;
	width: 60px;
	height: 65px;
	top: 0px;
	right: 80px;
	background-size: 22px 22px;
}
.line_right {
	

	margin: 64px 20px 0px 20px;
	border: 1px solid #717C9F;
	opacity: 0.2;
}










